<%- include('./partials/header.ejs')  %>
    <div class="main w-full h-screen bg-cyan-200">
        <h1>user rgister</h1>
        <form action="/register" method="post">
            <input type="text" name="name" placeholder="write your name">
            <input type="email" name="email" placeholder="write your email">
            <input type="password" name="password" placeholder="write your password">
            <input type="submit" value="rgister">
        </form>
    </div>
<%- include('./partials/footer.ejs') %>